.header {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px 25px;
    background-color: $main-color;
    &__logo {
        color: #fff;
        font-size: 36px;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
    }
    &__links {
        color: #fff;
        text-decoration: none;
        font-family: "Poppins";
        font-weight: 300;
        font-size: 18px;
        margin: 0 15px;
        transition: .3s;
        &:hover {
            text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
        }
    }
    &__social {
        &-link {
            transition: .3s;
            margin: 5px 10px;
            color: #fff;
            font-size: 20px;
            text-decoration: none;
            &:hover {
                text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
            }
        }
    }
    .contactus {
        padding: 10px 15px;
        border: 1.5px solid #fff;
        border-radius: 500px;
        &:hover {
            background: #fff;
            color: $main-color;
        }
    }
}
#touchSideSwipe {
    display: none;
}


@media screen and (max-width: 768px) {
    .header {
        position: fixed;
        width: 100vw;
        z-index: 1;
        justify-content: center;
        &__links, &__social {
            display: none;
        }
    }
    #touchSideSwipe {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: center;
        .header__links {
            display: block;
            margin: 15px;
        }
        .header__link-block {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;
            flex: 10 1 auto;
            margin-right: -50px;
        }
        .header__social{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;
            position: absolute;
            bottom: 10px;
            margin-right: -50px;
            width: 100%;
        }
    }
}