.header {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px 25px;
    background-color: $main-color;
    &__logo {
        color: #fff;
        font-size: 36px;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
    }
    &__links {
        color: #fff;
        text-decoration: none;
        font-family: "Poppins";
        font-weight: 300;
        font-size: 18px;
        margin: 0 15px;
        transition: .3s;
        &:hover {
            text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
        }
    }
    &__social {
        &-link {
            transition: .3s;
            margin: 5px 10px;
            color: #fff;
            font-size: 20px;
            text-decoration: none;
            &:hover {
                text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7);
            }
        }
    }
    .contactus {
        padding: 10px 15px;
        border: 1.5px solid #fff;
        border-radius: 500px;
        &:hover {
            background: #fff;
            color: $main-color;
        }
    }
}


